*{
    
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: rgb(221, 221, 221);
  

  
}
body {
  background: linear-gradient(230deg,#0e0e0e,#1f1f1f);
  background-size: 60% 60%;
  animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.hoja{
 
    width: 85%;
    height: 90vh;
  
 margin: auto;
}
.hoja-contacto{
 
  width: 85%;
  height: 90vh;

margin: auto;
}
.hoja-proyecto{
 
  width: 85%;
  height: 90vh;

margin: auto;
}
#cont-tit{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(1, 40% 25% 35%);
    grid-template-rows: repeat(1, 100%);
    margin-top: 3vh;
   
    background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);   border-radius: 2.5px; 
}
#cont-tit-proyect{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 24% 36% 40%);
    grid-template-rows: repeat(1, 100%);
    margin-top: 3vh;
   
    background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);   border-radius: 2.5px; 

  }
  .cont-proyectos{
    width: 100%;
    height: 81vh;
    display: grid;

    grid-template-columns: repeat(1, 33% 33% 33%);
    grid-template-rows: repeat(1, 50% 50%  );
   
    margin-top: 3vh;
    background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);   border-radius: 2.5px; 
    overflow: auto;

  }
  .cont-proyectos::-webkit-scrollbar {
    width: 8px;
  }
  
  .cont-proyectos::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
#redsocial{
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    margin: auto;
 
    height: 100%;  
    margin-left: 25%; 

}

.cont-img-red img{
    width: 30px;
    height: 30px; 
    padding: 5px;
    margin-top: 2px;
  
}
.cont-img-red img:hover{
  transform: scale(1.06);
  filter: brightness(30%); 
}
.cont-img-red{
  align-items: center;
  justify-content: center;
margin-top: 1.8vh;
margin-left: 4vw;
  

}



.menu {
  display: flex;
  justify-content: center;
  width: 100%;
 
  padding: 5px;
  border-radius: 5px;
}

.cont-nav-a {
  display: flex;
  align-items: center;

  padding: 11px;
  border-radius: 3px;
  margin: 0 4px;
  font-size: 15px;
  font-weight: 500;

}
.cont-nav-a:hover{
  transform: scale(1.01);
  filter: brightness(30%); 

}

nav img {
  width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-top: 10px;
    
}



#cont-blog{
    width: 100%;
    height: 81vh;
    display: grid;
    grid-template-columns: repeat(1, 22% 76%);
    grid-template-rows: repeat(1, 100%);
    grid-gap: 2%;
    margin-top: 3vh;
}
.datos{
    grid-column: 1;
 width: 100%;
 border-radius: 2.5px; 
 background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);
}
.info{
   
    border-radius: 2.5px; 
    background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);}
#cont-perfil{

width: 120px;
height: 120px;
margin: auto;
}
#perfil {
    width: 100%;
    height: 100%;
border-radius: 100%; 



}
#txt-sm{
    text-align: center;
   font-size: 20;
font-weight: bold;
margin-bottom: 6vh;
}
.datos-pers{
width: 100%;
}
.cont-dato{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 10px 0px;
    margin-left: 10%;
    margin-right:10% ;
 
}
.dato{
    font-weight: bold;
}
.tit-nom{
  font-size: 30px;
  font-weight: 750;

}
.tit-sub{
  font-size: 26px;
  font-weight: 700;

}
.info{   
  border-radius: 2.5px; 
  padding-left: 2vh;
  padding-right: 2vh;
  background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);
}


.cont-img-leng {
  width: 100%;
  height: 30px;
}

.img-an{
  width: 45px;
  height: 30px;
}
.img-ann{
  width: 65px;
  height: 30px;
}
.img-annn{
  width: 33px;
  height: 30px;
}


.container-pro {
  width: 97%;
  height: 95%;
  margin-left: 3%;
  margin-top: 1.8%;

  grid-column: 1;
  grid-row: 1;
  background: linear-gradient(160deg, rgba(98, 98, 99, 0.329) 0%, rgba(119, 119, 119, 0.24) 100%);
  border-radius: 4px;
}
.container-pro:hover{
  transform: scale(1.02);
  
}
#info-pro{
  width: 100%;
  height: 35%;

}
#info-pro h4{
  justify-content: center;
  text-align: center;
margin: 0;
margin-top: 4px;
}
#info-pro p{
  justify-content: center;
  text-align: center;
margin: 0;
margin-top: 6px;

}
.container-pro img{
width: 95%;
height: 60%;
margin-left: 2.5%;
border-radius: 5px;
margin-top: 2.5%;
}
#tecno{
  font-size: 10px;
}
#contrib{
  font-size: 12px;
}




#cont-contacto{
  background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);   border-radius: 2.5px; 
  width: 100%;
  height: 81vh;
}
form {
 
  width: 50%;
  margin: 0 auto;
  margin-top: 3vh;
  
}

label {
  display: block;
  margin-bottom: 0.5em;
}
#nombre-c{
  padding-top: 5vh;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  background: linear-gradient(78deg, rgba(42, 44, 46, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);   border-radius: 2.5px; 
border: none;
}
input:focus {
  outline: none;
}
#message{
height: 12vh;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}
.sas{
  justify-content: center;
  text-align: center;
 padding: 4px;
 padding-top: 30px;
 
}

@media only screen and (max-width: 767px) {
 .hoja{
padding-bottom: 2vh;
height: 273vh;
 }
 .hoja-proyecto{
  padding-bottom: 2vh;
  height: 123vh;
   }
   .hoja-contacto{
    padding-bottom: 2vh;
    height: 123vh;
     }
  #cont-blog{
    width: 100%;
    height: 235vh;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, 65% 35%);
    grid-gap: 1.3%;

}

#cont-tit {
  width: 100%;
  height: 20vh;
 
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(2, 50%);
 
}
#redsocial{
  grid-column: 1;
  grid-row: 2;


  height: 100%;  
  margin-left: auto; 

}
.menu {

  grid-column: 1;
  grid-row: 1;
  padding: 0px;
  
}

.cont-img-red {
  margin-top: 1.2vh;
    margin-left: 0vw;
    margin-right: 0.7vw;
}
.cont-img-red img {
    width: 25px;
    height: 25px;

}
.cont-nav-a {

    margin: 0 0px;
    font-size: 11px;
 
}
nav img {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    margin-top: 6px;
}
.info {
    

    grid-row: 1;
    grid-column: 1;

    
}
.datos {
  grid-row: 2;
    grid-column: 1;

    margin-bottom: 3vh;
}
#cont-tit-proyect {
  width: 100%;
  height: 20vh;
 
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(2, 50% 50%);
 
}
.cont-proyectos {
   width: 89%;
   height: 75vh;
    display: grid;
    padding: 19px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(1, 50% );

}
form {

  width: 70%;
 
}
.sas {

  padding: 20px;
  padding-top: 30px;
}

}