*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;

}
/*header{
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
display: flex;
justify-content: center;
align-items: center;     
}
.absolute{
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
}
video{
    width: 100%;
   
}*/

.hoja{
 
    width: 85%;
    height: 100vh;
    
 margin: auto;
}
#cont-tit{
    width: 100%;
    height: 12vh;
    display: grid;
    grid-template-columns: repeat(3, 30% 40% 30%);
    grid-template-rows: repeat(1, 100%);
    margin-top: 3vh;
   
    background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);   border-radius: 2.5px; 
}
#redsocial{
    grid-column: 3;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#redsocial img{
    width: 40px;
    height: 40px;  

}
#barra{
    grid-column: 2;
    grid-row: 1;

    width: 100%;

  

  position:sticky  ;
 
  z-index: 100;
  
}
#barra a:hover {
    color: #bbaf06;
    cursor: pointer;
    transform: scale(1.1);
  }
#h_1 {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;

  list-style: none;
}

#h_1 li {
  font-family: "Work Sans", sans-serif;
  padding-right: 22%;
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
}
#h_1 img{
    width: 25px;
    height: 25px; 
     
 
}
#txtnom{
    grid-column: 1;
    grid-row: 1;
    float: left;
    
}

#cont-blog{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(1, 22% 76%);
    grid-template-rows: repeat(1, 100%);
    grid-gap: 2%;
    margin-top: 3vh;
}
.datos{
    grid-column: 1;
 width: 100%;
 border-radius: 2.5px; 
 background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);
}
.info{
   
    border-radius: 2.5px; 
    background: linear-gradient(50deg, rgba(33, 37, 41, 0.329) 0%, rgba(33, 37, 41, 0.24) 100%);}
#cont-perfil{

width: 120px;
height: 120px;
margin: auto;
}
#perfil {
    width: 100%;
    height: 100%;
border-radius: 100%; 



}
#txt-sm{
    text-align: center;
   font-size: 20;
font-weight: bold;
}
.datos-pers{
width: 100%;
}
.cont-dato{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 10px 0px;
    margin-left: 10%;
    margin-right:10% ;
 
}
.dato{
    font-weight: bold;
}






.footer {
    background-color: #24262b;
    height: 30vh;
    margin-top: 3vh;
  }
  .cont_info_footer {
    width: 20%;
    padding: 15px 76.4px;
    float: left;
    margin: auto;
  }
  .cont_info_footer h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .cont_info_footer h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
  }
  .cont_info_footer ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .cont_info_footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .cont_info_footer ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .cont_info_footer .redes_sociales a {
    display: inline-block;
    height: 40px;
    width: 40px;
  
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .redes_sociales a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  .copyright {
    font: 200 14px "Oswald", sans-serif;
    color: #bbbbbb;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #24262b;
    height: 5vh;
    width: 100%;
  }
  
  